@import url(styles/main-styles.css);
@import url(styles/header.css);
@import url(styles/hero-section.css);
@import url(styles/our-services.css);
@import url(styles/our-clients.css);
@import url(styles/our-services.css);
@import url(styles/contact-us.css);
@import url(styles/footer.css);

:root {
	--main-green: #4B4F3E;
	--secondary-green: #E2E6D7;
	--light-grey: #F8F9FA;
	--salmon: #DECAB2;
}

html {
	/* transforms rem in px */
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	background-color: var(--light-grey);
	font-family: "EB Garamond", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-size: 2.4rem;
	color: var(--main-green);
}

input::placeholder, 
textarea::placeholder,
input, textarea,
button {
	font-family: "EB Garamond", serif;
	font-weight: 400;
}

button {
	font-weight: 500;
	font-size: 1.8rem;
}

a, a:visited, a:link {
	color: var(--main-green);
	cursor: pointer;
}

h1 {
	font-size: 6.104rem;
}

h2 {
	font-size: 4.883rem;
}

h3 {
	font-size: 3.906rem;
}

h4 {
	font-size: 3.125rem;
}

h5 {
	font-size: 2.5rem;
}

h6 {
	font-size: 2.0rem;
}

p {
	font-size: 1.6rem;
}

input, textarea {
	padding: 0.8rem 1.6rem;
    border: solid 0.2rem var(--main-green);
    border-radius: 0.7rem;
    color: var(--main-green);
}

textarea {
	height: 20rem;
}