#form-textarea {
    resize: none;
}

.submit-btn {
    border: solid 0.2rem var(--main-green);
    border-radius: 0.7rem;
}

.salmon-rectangle {
    background-color: var(--salmon);
    height: 70%;
    width: 70%;
    z-index: -2;
}

.contact-form {
    padding-bottom: 5rem;
}

.social-media {
    padding: .5rem .8rem;
    margin-right: 0.5rem;
    background-color: #DEE2E6;
    border-radius: 1rem;
    cursor: pointer;
}

.social-media:hover {
    opacity: 0.8;
	transition: 0.3s;
}

.follow-us {
    padding: 1rem 0 0 5rem; 
    align-self: flex-end;
}

.follow-us h6 {
    padding-bottom: 1rem;
}

@media screen and (max-width: 850px) {
    #contact-us-left {
        display: none;
    }
    #contact-us-right {
        width: 100%;
    }
}

@media screen and (max-width: 460px) {
    #contact-us-right {
        padding-left: 5%;
        padding-right: 5%;
    }
}
