* {
	--bs-gutter-x: 0;
}
/* POSITIONS */
.absolute {
	position: absolute;
}

.relative {
	position: relative;
}

.top-2 {
	top: 2rem;
}

.left-2 {
	left: 2rem;
}

.left-20 {
	left: 20rem;
}

.max-width-100 {
	max-width: 100%;
}

/* SIZES */
.width-50 {
	width: 50vw;
}


.height-100 {
	height: 100%;
}

/* FLEXBOX */
.flex {
	display: flex;
}

.f-wrap {
	flex-wrap: wrap;
}

.f-column {
	flex-direction: column;
}

.f-justify-center {
	justify-content: center;
}

.f-align-center {
	align-items: center;
}

.f-justify-space-between {
	justify-content: space-between;
}

.f-align-self {
	align-self: flex-end;
}

.gap-4 {
	gap: 4rem;
}

.gap-7 {
	gap: 7rem;
}

/* GRID */
.grid {
	display: grid;
}

.grid-3-col {
	grid-template-columns: auto auto auto;
}

.grid-column-3 {
	grid-column: span 3;
}

.grid-row-3 {
	grid-row: span 2;
}

/* FONT STYLING */
.bold-900 {
	font-weight: 900;
}

.bold-800 {
	font-weight: 800;
}

.bold-700 {
	font-weight: 700;
}

.font-20 {
	font-size: 2rem;
}

.italic {
	font-style: italic;
}

p.big {
	font-size: 1.8rem;
}

/* SPACEMENT */
.center-item {
	margin: auto auto;
}

.pl-10 {
	padding-left: 10%;
}

.pr-10 {
	padding-right: 10%;
}

.pl-20 {
	padding-left: 20%;
}

.pr-20 {
	padding-right: 20%;
}

.pb-10 {
	padding-bottom: 1rem;
}

.pb-30 {
	padding-bottom: 3rem;
}

.ml-20 {
	margin-left: 20rem;
}

.mr-20 {
	margin-right: 20rem;
}

/* BUTTONS */
.main-btn {
	background-color: var(--main-green);
	border: none;
	color: var(--light-grey);
	text-align: center;
	padding: 1.6rem 3.2rem;
	cursor: pointer;
}

.secondary-btn {
	background-color: var(--light-grey);
	border: none;
	color: var(--light-grey);
	text-align: center;
	padding: 1.6rem 3.2rem;
	cursor: pointer;
}

.main-btn:hover, .secondary-btn:hover {
	opacity: 0.8;
	transition: 0.3s;
}

/* TEXT POSITIONING */
.text-center {
	text-align: center;
}

/* EFFECTS */
.drop-shadow {
	filter: drop-shadow(#868e96 0.2rem 0 0.4rem)
}

/* COLORS */
.svg-icon {
	width: 5rem;
}

.text-secondary-green {
	color: var(--secondary-green);
}

.text-main-green {
	color: var(--main-green);
}

/* HOME BTN */
#home-btn {
	right: 2rem;
	/* transform: translateY(100%); */
	transition: all 0.4s ease-in-out;
}

/* IMAGES */
.half-img {
    display: block;
    object-fit: cover;
    object-position: center;
}