#our-services {
    background-color: var(--secondary-green);
    padding-bottom: 5rem;
}

.card-info-title {
    padding: 1rem;
}

.place-order-btn {
    border: solid 0.2rem var(--light-grey);
    border-radius: 0.7rem;
}

.flower-bouquet {
    margin: -7.5rem -7rem -2rem -7rem;

}

@media screen and (max-width: 850px) {
    .flower-bouquet {
        margin: -6rem -7rem -2rem -7rem;
        width: 350px;
    }
}


@media screen and (max-width: 480px) {
    .flower-bouquet {
        display: none;
    }
    .our-services-title {
        padding-bottom: 5rem;
    }
    #our-services-grid {
        display: flex;
        flex-wrap: wrap;
    }
}
